<%- include('header') -%>

<%if(cl != null){%>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Client</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-12 col-md-4">
            
        </div>

        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col-12 mb-4"> First Name: <%-cl.firstName%></div>
                <div class="col-12 mb-4"> Last Name: <%-cl.lastName%></div>
                <div class="col-12 mb-4">Driver Licence Number: <%-cl.driverLicenceNumber%></div>
                <div class="col-12 mb-4">Adress: <%-cl.adress%></div>
                <div class="col-12 mb-4">date of birth: <%-cl.dateOfBirth%> </div>
                <div class="col-12 mb-4">place of birth: <%-cl.placeOfBirth%> </div>
                
                
            </div>
            <a href="/Rclient/<%=cl._id%>/delete" class="btn btn-primary btn-dark btn-lg px-4 me-md-2" onclick="return confirm('Are u sure to delete this Client?');">Delete Client</a>
        </div>
       
       
    </div>

<%}else{%>
    <p>No Client Found</p>
    <%}%>
        
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Client</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead">You can Update Client here</p>
        </div>
    </div>
    
          
<div class="row justify-content-center">
    <% if(infoSubmitObj != ''){ %>
        <div class="col-8 alert alert-success" role="alert">
            <%= infoSubmitObj %>
        </div>
     <%}%>  
    <% if(infoErrorObj != ''){ %>
        <div class="col-8 alert alert-danger" role="alert">
            Client Updating Failed!!
        </div>
     <%}%> 
    <div class="col-8">
        <form action="/Rclient/<%=cl._id%>" enctype="multipart/form-data" method="post">
            <div class="row g-3">

                <div class="col-12 mb-4">
                    <label for="clientFirstName" class="form-label d-flex flex-row">First Name</label>
                    <input type="text" name="clientFirstName" id="clientFirstName" class="form-control" value="<%-cl.firstName%>">
                </div>
               
                <div class="col-12 mb-4">
                    <label for="clientLastName" class="form-label d-flex flex-row">Last Name</label>
                    <input type="text" name="clientLastName" id="clientLastName" class="form-control" value="<%-cl.lastName%>">
                </div>
                
            
                <div class="col-12 mb-4">
                    <label for="driverLicenceNumber" class="form-label d-flex flex-row">Driver Licence Number</label>
                    <input type="text" name="driverLicenceNumber" id="driverLicenceNumber" class="form-control" value="<%-cl.driverLicenceNumber%>">
                </div>
                
                <div class="col-12 mb-4">
                    <label for="adress" class="form-label d-flex flex-row">Adress</label>
                    <input type="text" name="adress" id="adress" class="form-control" value="<%-cl.adress%>">
                </div>
               
                
                <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 justify-content-center">

                    <div class="input-box">
                        <span>Date of Birth </span>
                        <input type="date" name="dateofbirth" value="<%-cl.dateOfBirth%>">
                    </div>

                    <div class="input-box">
                        <span>Place of Birth </span>
                        <input type="text" name="placeofbirth" value="<%-cl.placeOfBirth%>">
                    </div>

                </div>
                
                <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 justify-content-center ">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Modify</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<%- include('footer') -%>

