<%- include('header') -%>

<%if(contract != null){%>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Contract</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-12 col-md-4">
            
        </div>

        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col-12"><h1>Contract N°: <%-contract.contractID%></h1></div>
                <div class="col-12 mb-4">Starting Date: <%-contract.realStartingDate%></div>
                <div class="col-12 mb-4"> Kilometrage: <%-contract.kilometrage%> KM</div>
                <div class="col-12 mb-4">Driver Licence Number: <%-contract.driverLicenceNumber%></div>
                <div class="col-12 mb-4">Vehicule matricule: <%-contract.matricule%></div>
                
            </div>
            <a href="/contract/<%=contract._id%>/delete" class="btn btn-primary btn-dark btn-lg px-4 me-md-2" onclick="return confirm('Are u sure to delete this contract?');">Delete Contract</a>
        </div>
       
       
    </div>

<%}else{%>
    <p>No contract Found</p>
    <%}%>
        
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">contract</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead">You can Update contract here</p>
        </div>
    </div>
    
          
<div class="row justify-content-center">
    <% if(infoSubmitObj != ''){ %>
        <div class="col-8 alert alert-success" role="alert">
            <%= infoSubmitObj %>
        </div>
     <%}%>  
    <% if(infoErrorObj != ''){ %>
        <div class="col-8 alert alert-danger" role="alert">
            contract Updating Failed!!
        </div>
     <%}%> 
    <div class="col-8">
        <form action="/contract/<%=contract._id%>" enctype="multipart/form-data" method="post">
            <div class="row g-3">

                <div class="col-12 mb-4">
                    <label for="contractID" class="form-label d-flex flex-row">Contract ID</label>
                    <input type="text" name="contractID" id="contractID" class="form-control" value="<%-contract.contractID%>"> 
                </div>

                <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 justify-content-center">
                    
                    <div class="input-box">
                        <span> Real Starting Date</span>
                        <input type="date" name="realStartingDate" value="<%-contract.realStartingDate%>">
                    </div>
                    
                    <div class="col-12 mb-4">
                        <label for="kilometrage" class="form-label d-flex flex-row">Kilometrage</label>
                        <input type="text" name="kilometrage" id="kilometrage" class="form-control" value="<%-contract.kilometrage%>"> 
                    </div>
                    
                </div>

                <div class="col-12 mb-4">
                    <label for="matricule" class="form-label d-flex flex-row">Car Matricule</label>
                    <input type="text" name="Matricule" id="carMatricule" class="form-control" value="<%-contract.matricule%>"> 
                </div>
            
                <div class="col-12 mb-4">
                    <label for="driverLicenceNumber" class="form-label d-flex flex-row">Driver Licence Number</label>
                    <input type="text" name="driverLicenceNumber" id="driverLicenceNumber" class="form-control" value="<%-contract.driverLicenceNumber%>">
                </div>
                
                <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 justify-content-center ">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Modify</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<%- include('footer') -%>

